<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>StoreApp · Phoenix Framework</title>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>'/>
  </head>
  <body>
    <div class="selected-theme">
      <section>
        <header>
          <%= render "_navigation.html", conn: @conn %>
        </header>
        <main role="main" class="main-body">
          <!--p class="callout primary flash-alert" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="callout alert flash-alert" role="alert"><%= get_flash(@conn, :error) %></p-->
          <%= render @view_module, @view_template, assigns %>
        </main>
      </section>
    </div>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
    <%= Drab.Client.run(@conn) %>
  </body>
</html>
